!!!
%html.h-full.bg-gray-100
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Admin - #{content_for(:title) || "Apoint"}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "admin"
    = javascript_include_tag "admin", type: "module"

  %body.h-full
    .min-h-full
      = render 'layouts/admin_sidebar'
      = render 'layouts/admin_header'
      .lg:pl-72
        %main.py-10
          .px-4.sm:px-6.lg:px-8
            - if notice
              .rounded-md.bg-green-50.p-4.mb-4
                .flex
                  .flex-shrink-0
                    %svg.h-5.w-5.text-green-400{"aria-hidden": "true", fill: "currentColor", viewbox: "0 0 20 20"}
                      %path{d: "M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"}
                  .ml-3
                    %p.text-sm.font-medium.text-green-800= notice
            - if alert
              .rounded-md.bg-red-50.p-4.mb-4
                .flex
                  .flex-shrink-0
                    %svg.h-5.w-5.text-red-400{"aria-hidden": "true", fill: "currentColor", viewbox: "0 0 20 20"}
                      %path{d: "M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"}
                  .ml-3
                    %p.text-sm.font-medium.text-red-800= alert

            = yield
